<a href="https://colab.research.google.com/github/2022013193/DL23/blob/main/DL%20midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##week01


#### *   **Digital age**: the current period of human history characterized by the widespread use of digital technology, such as computers, the internet, and mobile devices, and the transformation of various aspects of society as a result.

1.   **Increased Connectivity**: The digital era has resulted in a highly connected world where people and devices can easily **communicate and share information globally**.
2.   **Data-Driven**: The vast of data generated by digital devices has led to the development of **big data analytics**, which drives decision making and innovation in various industries.
3.   **Digitiztion of Nearly Everything**: The digital era has brought about the **digitization of nearly all aspects of life**, including commerce, entertainment, education, and communication.


*Industrial Revolution Timeline
1. Steam
2. Electricity
3. Computing
4. Connectedness


####* **Digital Literacy**: the ability to use information and communication technologies **to find, evaluate, create, and communicate information**, requiring both cognitive and technical skills.


*Digital data
1. search
2. books
3. video tapes
4. films
5. photos
6. CDs




####* **Python**


*   Python is a popular and **easy-to-learn** programming language.
*   It is used for **web development, data analysis, and artificial intelligence**.
*   Python has a **simple syntax**, making it a great choice for beginners.
*   It has a **large and active community**, offering many resources and support.
*   Python has a **vast liberary of pre-built modules and packages**, saving time and effort in development.
*   Overall, Python is an **accessible and practical language to learn, with many applications in different fields**.

##week02

####* **API**: Application Programming Interface

*   gTTS (Google Text-to Speech
*   Using a pop-up window -> audio
*   Expanding tts: ktts(Korean). etts(English), ftts(French)
*   Using dropbox selection -> choose language, type text

Installation, import libraries

In [ ]:
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

Defining a function

In [ ]:
def tts(text): # This line defines a function called tts that takes a text argument. The purpose of this function is to convesrt the given text into an audio file.
  gtts_object = gTTS(text,lang = "en", slow = True) # This line creates a new gTTS object with the given text, specifying the language as English and the speech speed as slow.
  gtts_object.save("myaudio.mp3") # This line saves the audio file generated by the gTTS object to the file "myaudio.mp3" on the local filesystem.
  return Audio("myaudio.mp3") # This line returns an Audio object representing the audio file that was just saved. The Audio object can be used to play the audio file or manipulate it in various ways.

**tts('Hello students')**

*   This line of code invokes the tts function with the argument(인수) 'Hello students'. This will generate an audio file containing the speech corresponding to the text "Hello students" in English language spoken at a slow spped. The audio file will be saved on the local file system with the name "myaudio.mp3".

**Using input**

*   In Python, input() is a built-in fuction that is used to get input from the user via the console. The input() function displays a prompt on the console, waits for the user to enter some text, and then returns the text entered by the user as a string(문자열).
*   The syntax of the input() function is simple. It takes an optional string argument that is displayed as a prompt to the user, and then waits for the user to enter some text.

##Week03: Coding basic


####[1] **Variables**

*   **A variable** is a named storage location that holds a value.
*   Variables can be used **to store values** such as numbers, strings, lists, or other data tyoes.
*   The value of a variable can change throughout the execution of a program.
*   To declare a variable in Python, you need to assign a value to it using the **equal(=)sign**.
*   We can assign a link or a function as a variable.


#####* Commenting '#'
*   In Python, the # symbol is used to idicate a comment. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

#####*Uncommenting shortcut: 
*   "Ctrl+/" (Place the cursor on the code line and press the Control+/ key.)


#####* **Input types**: 
*   integer: e.g.,-3, 1, 0, 234, etc.
*   float: e.g.,-3.0, 1.2, 0, 3.141592653589793238, etc.
*   string: (characters) "1", "0", "3.20", "Mary", "euphoria", 'My name is Jane.'

*Note: double or single quotation marks denote **string** data. (Open and close should match.)*

*type()->type, print(type())-><class 'int', 'str', 'float'*



####[2] **Operators**

*   Symbols that perform operations on values and variables.
*   They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1.   Arithmetic Operators:+,-,/,%,*(for exponentiation) 제곱 표시하려면 *두 번 쓸 것
2.   semicolon';'- separate multiple statement (code lines) on a single line.

####Calculator
Making fucntions (sample): tts(text)

In [ ]:
# This function adds two numbers.
def add(x, y): # ':' 무조건 붙이기
    return x + y

# This funtion subtracts two numbers.
def subtract(x, y): 
    return x - y

# This function multiplies two numbers.
def multiply(x, y): 
    return x * y

# This funtion divides two numbers.
def divide(x, y): 
    return x / y

####More operators:

*   Comparison Operators: ==,!=,<,>,<=,>=
*   Assignment Operators: =,+=,-=,*=,/=,%=
*   Logical Ooperators: and, or, not
*   Identity Operators: is, is not
*   Membership Operators: in, not in

####[3] **Data types: number, string, list and dictionary**

*   number: int, float
*   string: character
*   list: [1,2,4].['Mary', 'Tom', 'Jane']
*   dictionary: (key: value), [('English':80), ('Korean': 90)]
*   tuple: ('zero', 0) <-text, number

list and index (0, 1, 2,...)

*   index: Python index starts from '0'.
*   int + str = error

In [13]:
a = [1, "Mary", 4, "John"]
str(a[0]) #str을 붙여주면 안에 있는 int가 str으로 나옴

'1'

##Week04, 05

APIs
*   gTTS(Google Text-to-Speech)
*   chatGPT API
*   DALL-E: text to image
*   Whisper: speech to text

setup gtts for speech

In [ ]:
#@markdown 1) Install and import modules
%%capture
!pip install gtts
from gtts import gTTS
from IPython.display import Audio, display

In [ ]:
#@markdown 2) Define tts(text)

def tts(txt): 
  tts = gTTS(txt, lang='en')
  tts.save("smaple.mp3")
  return Audio("/content/sample.mp3")

In [ ]:
#@markdown 3) Getting audio and display

mytext = input("Type text: ")
tts(mytext)

##Week06

#### [0] **Importing modules**


1.   **fuction, (class), module, package, and library**

>(class) > functions

2.   Let's use the analogy of a toolbox:

*   **a module** is a single tool, (e.g., random: random.randint(x,y))
*   **a package** is a toolbox containing multiple tools (e.g., gTTS)
*   **a library** is a set of toolboxed designed for a specific purpose. (e.g., nltk-Natural Language Tool Kit)

####[1] **Python baiscs**

*   Basic data types (strings, integers, lists, dictinaries),
*   variables,
*   basic input/output functions (like print() and input()).

#####[1-1] Basic data types

A. strings

string*n = n번 반복

B. Integers, float

C. List datatype

string을 list 안에 넣으면 글자 하나씩 분리

D. Dictionary datatype: {'key':'value'}
In Python, a dictionary is a built-in data 

*   In Python, a dictionary is a built-in data type that represents a collection of key-value pairs. Each key-value pair in a dictionary is separated by a colon(:), each pair is separated by a comma.


#####[1-2] Variables

#####[1-3] Input/output functions

input() -> type: string

int() <-changing the type of the value to integer

####[2] **String manipulation: strip.() and lower.()**

**data.strip()**
*   In Python, strip() is a built-in string method that returns a copy of the string with leading and trailing characters removed.
*   By default, strip() removes withespace characters such as spaces, tavs, and newlines from the beginning and end of the string.

In [ ]:
w1 = " Mary is friendly."
w1.strip ()

'Mary is friendly.'

**data.split()**

*   ()안에 나누고 싶은 단위 넣기

In [ ]:
w2 = "out-of-date"
mysplit = w2.split("-") #따옴표 무조건 표시
mysplit

['out', 'of', 'date']

**' '.join()**

*   split한 것을 다시 합쳐줌
*   ''안에 연결하고 싶은 단위 넣기, ()안에는 split했던 variable

In [ ]:
'-'.join(mysplit) #변수 설정

'out-of-date'

**data.lower(), data.upper()**

*   lower: 소문자, upper: 대문자

In [ ]:
w1 = "MARY"
w1.lower()

'mary'

* string index

len: number of string

a[0]: 1st string

a[-1]: last string

a[0: ]: 1st~last

a[:]: all string

a[1:3]: include 2nd string exclude 4th string

####[3] **Control structures**: **for** loops, **while** loops, and conditional statement **(if, elif, else)**

**A. for loops**

In [ ]:
number = 2
print (number**2)

4

If you want the same process (square of x) for 1,2,3,4,5

In [ ]:
# Define a list of numbers
numbers = [1,2,3,4,5]

#Use a for loop to iterate through the list
for num in numbers:
    # Print the square of each number
    print(num**2)

1
4
9
16
25

**data.qppend()**

In [ ]:
numbers = [1,2,3,4,5]
squared = []

for i in numbers: 
  s = i ** 2
  squared.append(s)

  print(squared)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

###Week06 PBL

In [ ]:
#1. 문자열이란?



*   문자열(string): 문자, 단어 등으로 구성된 문자들의 집합
*   따옴표로 둘러싸여 있으면 모두 문자열

In [ ]:
#2. 문자열은 어떻게 만들고 사용할까?

1.   큰따옴표(")로 양쪽 둘러싸기
2.   작은따옴표(')로 양쪽 둘러싸기
3.   큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기
4.   작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [ ]:
#2.1. 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

1.   문자열에 작은따옴표(') 포함시키기 ( 's)
2.   문자열에 큰따옴표(") 포함시키기 (" ")
3.   백슬래시( \ )를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기
 *   백슬래시를 작은따옴표나 큰따옴표 **앞**에 삽입하면 백슬래시 뒤의 작은따옴표나 큰따옴표는 문자('),(") 그 자체를 뜻하게 됨

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [ ]:
#2.2. 여러 줄인 문자열을 변수에 대입하고 싶을 때



1.   줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기 (불편하고 줄이 길어짐)
 *   \n은 반드시 따옴표 안에 포함할 것
2.   연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기 (1번 단점극복)

In [ ]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [ ]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [ ]:
#2.3. 이스케이프 코드란?



*   프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"
*   주로 출력물을 보기 좋게 정렬하는 용도로 사용

1.   **\n**: 문자열 안에서 줄을 바꿀 때 사용
2.   **\t**: 문자열 사이에 탭 간격을 줄 때 사용
3.   **\\(백슬래시 2개)**: 문자\를 그대로 표현할 때 사용
4.   **\ '**: 작은따옴표를 그대로 표현할 때 사용
5.   **\ "**: 큰따옴표를 그대로 표현할 때 사용
6.   \r: 캐리지 리턴(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
7.   \a: 벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
8.   \b: 백 스페이스
9.   \000: 널 문자

In [ ]:
#3. 문자열 연산하기

In [ ]:
#3.1. 문자열 더해서(+) 연결하기(concatenation)

In [ ]:
head = "Python"
tail = " is fun"
head + tail

'Python is fun'

In [ ]:
#3.2. 문자열 곱하기(*)

In [ ]:
a = "Python"
a*2

'PythonPython'

In [ ]:
#3.3. 문자열 곱하기 응용

In [ ]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [ ]:
#3.4. 문자열 길이 구하기

len 함수 사용 (기본 내장 함수)

In [ ]:
a = "Life is too short" # ' '도 글자수에 포함
len(a)

17

In [ ]:
#4. 문자열 인덱싱(Indexing: 가리킨다)과 슬라이싱(Slicing: 잘라낸다)

In [ ]:
#4.1. 문자열 인덱싱이란?


*   문자열의 각 문자마다 번호를 매김, **파이썬은 0부터 숫자를 센다.**
*   a[번호]는 문자열 안의 특정한 값을 뽑아내는 역할을 함

In [ ]:
a = "Life is too shortt. You need Python"
a[3]

'e'

In [ ]:
#4.2. 문자열 인덱싱 활용하기

In [ ]:
a = "Life is too short, You need python"
print(a[0])
print(a[12])
print(a[-1]) #뒤에서부터 읽기 위해 '-' 사용, 0=-0
print(a[-2])
print(a[-5])

L
s
n
o
y

In [ ]:
#4.3. 문자열 슬라이싱이란?

In [ ]:
a = "Life is too short. You need python"
b = a[0]+a[1]+a[2]+a[3] # 이걸 더 간단히 한 것이 슬라이싱
b

'Life'

In [ ]:
a[0:4] # a[시작 번호:끝 번호]를 지정할 때 끝 번호에 해당하는 것은 포함X, 0<=a<4

'Life'

In [ ]:
#4.4. 문자열을 슬라이싱하는 방법



*   공백 문자 역시 L,i,f,e 같은 문자와 동일하게 취급
*   슬라이싱할 때 항상 시작 번호가 0일 필요는 없다
*   a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.
*   a[시작 번호:끝 번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.
*   슬라이싱에서도 인덱싱과 마찬가지로 마이너스 기호를 사용할 수 있다.

In [ ]:
#4.5. 슬라이싱으로 문자열 나누기

In [ ]:
a = "20010331Rainy"
date = a[ :8]
weather = a[8: ]
print(date)
print(weather)

20010331
Rainy

In [ ]:
year = a[ :4]
day = a[4:8]
weather = a[8: ]
print(year, day, weather)

2001 0331 Rainy

In [ ]:
#"Pithon"이라는 문자열을 "Python"으로 바꾸기
a = "Pithon"
a[:1] +'y'+a[2:]

'Python'

In [ ]:
#5. 문자열 포매팅


*   문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것

*   문자열 안에 어떤 값을 삽입하는 방법

In [ ]:
#5.1. 문자열 포매팅 따라 하기

1. 숫자 바로 대입


*   문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣어주고, 삽입할 숫자는 가장 뒤에 있는 %문자 다음에 써넣음

In [ ]:
"I eat %d apples." %3

'I eat 3 apples.'

2. 문자열 바로 대입

*   %s

In [ ]:
"I eat %s apples." %"five" #문자열 따옴표!

'I eat five apples.'

3. 숫자 값을 나타내는 변수로 대입

In [ ]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

4. 2개 이상의 값 넣기

*   2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마(,)로 구분하여 각가의 값을 넣어 주면 됨

In [ ]:
"I ate %d apples, so I was sick for %s days." %(10, "three")

'I ate 10 apples, so I was sick for three days.'

In [ ]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." %(number, day)

'I ate 10 apples, so I was sick for three days.'

##Week07 PBL

Exercise 1: Create a string and an integer

In [2]:
greeting = "Hello, students!"
year = 2023

Exercise 2: Print the string and integer

In [3]:
print(greeting)
print(year)

Hello, students!
2023

Exercise 3: Concatenate the string and integer

In [7]:
message = greeting + ' ' + str(year)
message

'Hello, students! 2023'

Exercise 4: Perform arithmetic operations with integers

In [14]:
num1 = 10
num2 = 3

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1%num2)

13
7
30
1

Exercise 5: Input string and integer from user

In [16]:
user_string = input("Type any string: ")
user_number = input("Type any number: ") #Input() is a basically string type.
user_number = int(user_number) #string to integer

user_string*user_number

Type any string: Hello~
Type any number: 5

'Hello~Hello~Hello~Hello~Hello~'

Exercise 6: Splitting a string

In [17]:
sentence = "Coding is fun and easy to learn!"
word_list = sentence.split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn!']

Exercise 7: Converting strings to uppercase and lowercase

In [ ]:
a = "Coding is Exciting!"
a.upper()

'CODING IS EXCITING!'

In [ ]:
a.lower()

'coding is exciting!'

Exercise 8: String indexing and slicing

In [20]:
quote = "To be or not to be, that is the question."

In [21]:
quote[0]

'T'

In [22]:
quote[-1]

'.'

In [23]:
quote[0:5]

'To be'

In [24]:
quote[5: ]

' or not to be, that is the question.'

In [25]:
quote[::-1] #reverse

'.noitseuq eht si taht ,eb ot ton ro eb oT'